@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

$theme-colors: (
  "primary": #00334e,
  "secondary": #145374,
  "orange": #ee6f57
);

$body-bg: #f6f5f5;

*{
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 400;
}

p{
    font-size: 18px;
}

@import "../../node_modules/bootstrap/scss/bootstrap";